body{
    background-color:rgba(0, 0, 0, 0.123);
  }
  p,h1,ul{
    font-size: 2.em;
    color:white;
    font-family: 'Times New Roman','Courier New', Courier, monospace , serif ;
  }
  h2{
      color: chocolate;
  }
  .behavior{
      color: darkgoldenrod;
  }
 /* unvisited link */
a:link { color: #e77e7e; }
/* visited link */
a:visited { color: #00FF00; }
/* mouse over link */
a:hover { color: #FF00FF; }
/* click on a link */
a:active { color: #0000FF; }
li{
  color: white;
}